*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/ioclookup/build
/ioclookup/app/build
/ioclookup/.gradle
/ioclookup/.idea
/ioclookup/local.properties
*.apk
*.ap_
*.dex
*.class
EOF
